body {
  background-color: $clr-light;
  color: $clr-dark;
  min-height: 100vh;
  font-family: $font-main;
  transition: background-color 0.3s, color 0.3s;
}

a {
  color: $clr-dark;
  text-decoration: none;
}

header {
  background-color: $clr-main;
  display: flex;
  justify-content: space-between;
  padding: .5em 2em;
  box-shadow: $box-shadow;

  .titulo {
    font-size: 2.5rem;
  }
}

main {
  padding: 2rem;
}

.main-grid {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.grid-item {
  display: flex;
  gap: 1em;
  align-items: center;
  box-shadow: $box-shadow;
  border-radius: .75em;
  padding: .75em 1em;
  transition: all .5s;

  p {
    font-weight: 500;
    line-height: 1.2;
  }

  i {
    font-size: 1.1em;
  }

  &:hover {
    background-color: $clr-main;
    transform: scale(1.05);
    box-shadow: $box-shadow-expand;
  }
}

.navbar {
  background-color: $clr-main !important;
  font-family: $font-main;
  box-shadow: $box-shadow;

  .navbar-brand,
  .nav-link,
  .navbar-text {
    color: $clr-dark !important;
    font-weight: 500;
  }

  .nav-link.active,
  .nav-link:focus,
  .nav-link:hover {
    color: darken($clr-dark, 5%) !important;
  }

  .navbar-toggler {
    border-color: $clr-dark;
  }

  .navbar-toggler-icon {
    background-image: none;
    color: $clr-dark;
  }
}

footer {
  background-color: $clr-main;
  color: $clr-dark;
  font-family: $font-main;
  text-align: center;
  padding: 1.5em 0 1em 0;
  margin-top: 2em;
  box-shadow: $box-shadow;

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
  }

  .footer-social {
    margin-top: 0.5em;
  }

  .footer-social a {
    color: $clr-dark;
    margin: 0 0.5em;
    font-size: 1.5em;
    transition: color 0.3s;
    &:hover {
      color: darken($clr-dark, 5%);
    }
  }
}

.dark-mode {
  background-color: $clr-dark-bg;
  color: $clr-dark-text;

  header, .navbar, footer {
    background-color: $clr-dark-main !important;
    color: $clr-dark-bg !important;
    box-shadow: $clr-dark-shadow;
  }

  .titulo, .navbar .navbar-brand, .navbar .nav-link, .navbar .navbar-text, footer .footer-content, footer .footer-social a {
    color: $clr-dark-bg !important;
  }

  a {
    color: $clr-dark-text;
  }

  .grid-item {
    background-color: $clr-dark-bg;
    color: $clr-dark-text;
    box-shadow: $clr-dark-shadow;

    &:hover {
      background-color: $clr-dark-main;
      color: $clr-dark-bg;
      box-shadow: $clr-dark-shadow-expand;
    }

    i {
      color: $clr-dark-text;
    }
  }

  .navbar .navbar-toggler,
  .navbar .navbar-toggler-icon {
    border-color: $clr-dark-bg;
    color: $clr-dark-bg;
  }

  footer .footer-social a {
    color: $clr-dark-bg;
    &:hover {
      color: $clr-dark-text;
    }
  }
}
