$clr-main: #fee801;
$clr-dark: #27292b;
$clr-light: #f5f5f5;
$box-shadow: 0 0 10px rgba(0, 0, 0, .2);
$box-shadow-expand: 0 0 15px rgba(0, 0, 0, .3);
$font-main: 'Poppins', sans-serif;

$clr-dark-bg: #23272f;
$clr-dark-text: #f5f5f5;
$clr-dark-main: #ffd700;
$clr-dark-shadow: 0 0 10px rgba(0,0,0,0.5);
$clr-dark-shadow-expand: 0 0 15px rgba(0,0,0,0.7);
